main .section-free .h2-subtitle, main .section-phones .h2-subtitle, main .section-editor .h2-subtitle, main .h2-subtitle {
  color: hsl(208, 49%, 24%);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: auto;
}

main .section-free .text-paragraph, main .section-phones .text-paragraph, main .section-editor .text-paragraph, footer .list-product ul li a,
footer .list-company ul li a,
footer .list-connect ul li a, header nav .nav-list .list-product ul li a,
header nav .nav-list .list-company ul li a,
header nav .nav-list .list-connect ul li a, footer .list-product p,
footer .list-company p,
footer .list-connect p, header nav .nav-list .list-product p,
header nav .nav-list .list-company p,
header nav .nav-list .list-connect p {
  color: hsl(208, 49%, 24%);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 25px;
}

footer .list-product p,
footer .list-company p,
footer .list-connect p, header nav .nav-list .list-product p,
header nav .nav-list .list-company p,
header nav .nav-list .list-connect p {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
footer .list-product ul li,
footer .list-company ul li,
footer .list-connect ul li, header nav .nav-list .list-product ul li,
header nav .nav-list .list-company ul li,
header nav .nav-list .list-connect ul li {
  list-style: none;
}
footer .list-product ul li a,
footer .list-company ul li a,
footer .list-connect ul li a, header nav .nav-list .list-product ul li a,
header nav .nav-list .list-company ul li a,
header nav .nav-list .list-connect ul li a {
  text-decoration: none;
  color: hsl(240, 2%, 79%);
}

header nav .nav-list .list-product .ul-product,
header nav .nav-list .list-product .ul-company,
header nav .nav-list .list-product .ul-connect,
header nav .nav-list .list-company .ul-product,
header nav .nav-list .list-company .ul-company,
header nav .nav-list .list-company .ul-connect,
header nav .nav-list .list-connect .ul-product,
header nav .nav-list .list-connect .ul-company,
header nav .nav-list .list-connect .ul-connect {
  background-color: #f0eeee;
  border-radius: 6px;
  padding: 8px 0px;
}
header nav .nav-list .list-product .ul-product li,
header nav .nav-list .list-product .ul-company li,
header nav .nav-list .list-product .ul-connect li,
header nav .nav-list .list-company .ul-product li,
header nav .nav-list .list-company .ul-company li,
header nav .nav-list .list-company .ul-connect li,
header nav .nav-list .list-connect .ul-product li,
header nav .nav-list .list-connect .ul-company li,
header nav .nav-list .list-connect .ul-connect li {
  margin-top: 8px;
}
header nav .nav-list .list-product .ul-product li a,
header nav .nav-list .list-product .ul-company li a,
header nav .nav-list .list-product .ul-connect li a,
header nav .nav-list .list-company .ul-product li a,
header nav .nav-list .list-company .ul-company li a,
header nav .nav-list .list-company .ul-connect li a,
header nav .nav-list .list-connect .ul-product li a,
header nav .nav-list .list-connect .ul-company li a,
header nav .nav-list .list-connect .ul-connect li a {
  color: hsl(207, 13%, 34%);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
}

header {
  width: 100%;
  min-width: 340px;
  height: 490px;
  margin: auto;
  background-image: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px 24px;
  border-radius: 0px 0px 0px 30%;
}
header nav {
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  display: flex;
  width: 110px;
  height: 30px;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav .ico_hamburger {
  transition: 0.1s ease-in;
  display: flex;
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav .close-hamburger {
  transition: 0.1s ease-in;
  display: flex;
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav .nav-list {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 32px;
  width: 327px;
  left: calc(50% - 163.5px);
  top: 80px;
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 11px 0px gray;
}
header nav .nav-list .list-product div,
header nav .nav-list .list-company div,
header nav .nav-list .list-connect div {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: end;
  align-items: center;
  gap: 12px;
}
header nav .nav-list .list-product div p,
header nav .nav-list .list-company div p,
header nav .nav-list .list-connect div p {
  color: hsl(208, 49%, 24%);
}
header nav .nav-list .list-product div .ico-arrow,
header nav .nav-list .list-company div .ico-arrow,
header nav .nav-list .list-connect div .ico-arrow {
  display: flex;
  width: 12px;
  height: 12px;
  background-image: url("../images/icon-arrow-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav .nav-list .list-product div .arrow-click,
header nav .nav-list .list-company div .arrow-click,
header nav .nav-list .list-connect div .arrow-click {
  transform: rotate(180deg);
}
header nav .nav-list .list-product div:hover,
header nav .nav-list .list-company div:hover,
header nav .nav-list .list-connect div:hover {
  cursor: pointer;
}
header nav .nav-list .list-product .ul-product,
header nav .nav-list .list-product .ul-company,
header nav .nav-list .list-product .ul-connect,
header nav .nav-list .list-company .ul-product,
header nav .nav-list .list-company .ul-company,
header nav .nav-list .list-company .ul-connect,
header nav .nav-list .list-connect .ul-product,
header nav .nav-list .list-connect .ul-company,
header nav .nav-list .list-connect .ul-connect {
  display: none;
}
header nav .nav-list .list-product .show,
header nav .nav-list .list-company .show,
header nav .nav-list .list-connect .show {
  display: block;
  transition: 0.3s ease-in;
}
header nav .show {
  display: flex;
}
header nav hr {
  color: #f0f0f0;
}
header nav .div-but {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav .div-but .but-login, header nav .div-but .but-sign_up {
  width: 130px;
  padding: 10px 15px;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: white;
  border-radius: 20px;
  color: hsl(208, 49%, 24%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}
header nav .div-but .but-login:hover, header nav .div-but .but-sign_up:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
}
header nav .div-but .but-sign_up {
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}
header nav .div-but .but-sign_up:hover {
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  color: hsl(353, 100%, 62%);
  border: 1px solid hsl(353, 100%, 62%);
}

.header-section--hero {
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  margin-top: 120px;
  position: relative;
  z-index: 2;
}
.header-section--hero h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}
.header-section--hero p {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
}
.header-section--hero .section-hero--div_Button {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.header-section--hero .section-hero--div_Button .but_start {
  width: 130px;
  padding: 10px 15px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  color: hsl(353, 100%, 62%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}
.header-section--hero .section-hero--div_Button .but_learn {
  width: 130px;
  padding: 10px 15px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  background: none;
}

.container-pattern-header {
  width: 100%;
  height: 490px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 0px 0px 30%;
  overflow: hidden;
}
.container-pattern-header .div-pattern--img {
  display: flex;
  width: 620px;
  height: 682px;
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto;
}

main {
  width: 375px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 42px auto;
}
main .h2-subtitle {
  margin: 70px 0;
}
main .section-editor {
  padding: 0px 24px;
}
main .section-editor picture img {
  width: 320px;
}
main .section-editor .h2-subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
}
main .section-phones {
  padding: 0px 24px;
  padding-top: 185px;
  background-color: hsl(237, 23%, 32%);
  background-image: url(../images/bg-pattern-circles.svg);
  background-size: 603px;
  background-position: center;
  background-position-y: -248px;
  background-repeat: no-repeat;
  margin-top: 280px;
  border-radius: 0px 20% 0px 20%;
  position: relative;
  height: 550px;
}
main .section-phones .div-group_image {
  width: 100%;
  position: absolute;
  top: calc(40% - 393px);
  right: calc(50% - 187px);
}
main .section-phones .div-group_image img {
  width: 375px;
}
main .section-phones .h2-subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
}
main .section-phones .text-paragraph {
  color: hsl(0, 0%, 100%);
}
main .section-free {
  padding: 0px 24px;
  padding-top: 60px;
}
main .section-free picture img {
  width: 345px;
}
main .section-free .h2-subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
}
footer {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: hsl(240, 10%, 16%);
  padding: 16px 24px;
  border-radius: 0px 30% 0px 0px;
}
footer .footer-logo {
  display: flex;
  width: 110px;
  height: 30px;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 48px auto;
}
footer .list-product ul li a:hover,
footer .list-company ul li a:hover,
footer .list-connect ul li a:hover {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 425px) and (max-width: 768px) {
  header {
    width: 100vw;
  }
  header nav .nav-list {
    width: 450px;
    left: calc(50% - 225px);
    text-align: center;
  }
  header nav .nav-list .list-product div,
  header nav .nav-list .list-company div,
  header nav .nav-list .list-connect div {
    width: 100%;
  }
  header .container-pattern-header {
    width: 100%;
    height: 490px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 0px 0px 30%;
    overflow: hidden;
  }
  header .container-pattern-header .div-pattern--img {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto;
  }
  header .header-section--hero h1 {
    font-size: 36px;
  }
  header .header-section--hero .section-hero--div_Button {
    width: 350px;
    margin: auto;
  }
  main {
    width: 100%;
  }
  main .section-phones {
    height: 450px;
  }
  main .section-phones .div-group_image {
    left: 0;
  }
  footer {
    width: 100%;
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0px 10% 0pc 0px;
  }
  footer .footer-logo {
    margin-top: 0px;
  }
  footer p {
    margin-bottom: 12px;
  }
}
@media (min-width: 1024px) {
  header nav .nav-list .list-connect .ul-connect, header nav .nav-list .list-company .ul-company, header nav .nav-list .list-product .ul-product {
    width: 151px;
    position: absolute;
    padding: 16px 36px 16px 24px;
    background-color: hsl(0, 0%, 100%);
    text-align: left;
    box-shadow: 0px 0px 7px 0px hsl(237, 18%, 21%);
    top: 40px;
    left: calc(100% - 125.5px);
  }
  header nav .nav-list .list-connect .ul-connect li a:hover, header nav .nav-list .list-company .ul-company li a:hover, header nav .nav-list .list-product .ul-product li a:hover {
    color: hsl(237, 18%, 21%);
  }
  header nav .nav-list .list-connect, header nav .nav-list .list-company, header nav .nav-list .list-product {
    position: relative;
  }
  header nav .nav-list .list-connect div, header nav .nav-list .list-company div, header nav .nav-list .list-product div {
    position: relative;
  }
  header nav .nav-list .list-connect div .ico-arrow, header nav .nav-list .list-company div .ico-arrow, header nav .nav-list .list-product div .ico-arrow {
    display: flex;
    width: 12px;
    height: 12px;
    background-image: url("../images/icon-arrow-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav .nav-list .list-connect div p, header nav .nav-list .list-company div p, header nav .nav-list .list-product div p {
    color: hsl(0, 0%, 100%);
  }
  header nav .nav-list .list-connect div p:hover, header nav .nav-list .list-company div p:hover, header nav .nav-list .list-product div p:hover {
    -webkit-text-decoration: solid underline hsl(0, 0%, 100%) 2px;
            text-decoration: solid underline hsl(0, 0%, 100%) 2px;
  }
  header nav {
    justify-content: start;
    align-items: center;
  }
  header nav .ico_hamburger {
    display: none;
  }
  header nav .nav-list {
    width: 100%;
    margin-left: 24px;
    position: static;
    background-color: transparent;
    box-shadow: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  header nav .nav-list .list-product {
    margin-right: 24px;
  }
  header nav .nav-list .list-company {
    margin-right: 24px;
  }
  header nav .nav-list hr {
    display: none;
  }
  header nav .nav-list .animate__fadeInDown {
    animation-name: none;
  }
  header nav .nav-list .nav-list--group {
    display: flex;
    justify-content: flex-start;
  }
  header nav .nav-list .nav-list--group div {
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav .nav-list .div-but {
    flex-direction: row;
  }
  header nav .nav-list .div-but .but-login, header nav .nav-list .div-but .but-sign_up {
    margin-right: 10px;
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: none;
  }
  header nav .nav-list .div-but .but-sign_up {
    background-image: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
  }
  header nav .nav-list .div-but .but-sign_up:hover {
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
  }
  header .header-section--hero h1 {
    font-size: 6.3rem;
  }
  header .header-section--hero h1 br {
    display: none;
  }
  header .header-section--hero p {
    color: hsl(240, 2%, 79%);
  }
  header .header-section--hero p br {
    display: none;
  }
  header .header-section--hero .section-hero--div_Button {
    justify-content: center;
    gap: 18px;
  }
  header .header-section--hero .section-hero--div_Button .but_start {
    border: 1px solid hsl(0, 0%, 100%);
  }
  header .header-section--hero .section-hero--div_Button .but_start:hover {
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(355, 100%, 74%);
  }
  header .header-section--hero .section-hero--div_Button .but_learn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(355, 100%, 74%);
  }
  header .container-pattern-header {
    border-radius: 0px 0px 0px 30%;
    overflow: hidden;
  }
  header .container-pattern-header .div-pattern--img {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto;
  }
  main {
    width: 100%;
    max-width: none;
  }
  main .section-editor {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 0px;
    position: relative;
    overflow-x: clip;
  }
  main .section-editor div {
    width: 50%;
    text-align: left;
  }
  main .section-editor .div-group_image {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
  main .section-editor .div-group_image img {
    position: absolute;
    top: calc(100% - 550px);
    width: 65%;
    aspect-ratio: auto;
  }
  main .section-phones {
    background-position-x: -100px;
    background-position-y: -350px;
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 700px;
    padding-top: 0px;
  }
  main .section-phones .div-group_image {
    position: static;
    width: 50%;
  }
  main .section-phones .div-group_image img {
    position: absolute;
    width: auto;
    top: -40px;
    left: 50px;
  }
  main .section-phones div {
    margin: auto 12px;
    width: 50%;
  }
  main .section-free {
    margin-top: 280px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .section-free .div-group_image {
    position: relative;
    width: 50%;
    height: 400px;
  }
  main .section-free .div-group_image picture img {
    position: absolute;
    width: auto;
    left: -350px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  main .section-free div:nth-child(2) {
    width: 50%;
    padding: 0px 48px 0px 0px;
    text-align: left;
  }
  footer {
    margin-top: 280px;
    width: 100%;
    display: grid;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0px 10% 0pc 0px;
  }
  footer .footer-logo {
    margin-top: 0px;
  }
  footer p {
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=main.css.map */